
.big-header{
    text-align: center;
    font-size: 32px;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0 20% 0 20%;
    margin: 25px 0 0 0;
}
.small-header{
    text-align: justify;
    font-size: 18px;
    font-family: "Palatino", serif;
    padding: 0 15% 0 15%;
}
.italic-note{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    font-family: "Palatino", serif;
}
.legend{
    /* display: flex; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.legend-inner-grid{
    margin: 8px 0 0 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.legend-text{
    text-align: justify;
    font-size: 16px;
    font-family: "Palatino", serif;
    padding: 0 10% 0 0;
    word-wrap: normal;
}
.legend-square{
    width: 20px;
    height: 20px;
    margin: 0;
}
.waffle {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1318px;
  }
.rect-empty,
.rect-clicked {
    width: 32px;
    height: 32px;
    margin: 0;
    border: 2px solid white;
    background-color: #a5a5a5;
  }

.rect-clicked{
    word-wrap: break-word;
    text-align: center;
    pointer-events: none;
  }
.tooltip{
    position: absolute;
    visibility: hidden;
    background-color: white;
    max-width: 320px;
    pointer-events: none;
    box-shadow: 1px 1px 3px 2px #787878ee;
}
.tooltip-title,
.tooltip-text,
.tooltip-example{
    text-align: left;
    font-size: 14px;
    font-family: "Palatino", serif;
    padding: 0 5% 0 5%;
    word-wrap: normal;
    margin: 8px;
}
.tooltip-text{
    font-style: italic;
}
.tooltip-example{
    font-size: 13px;
}
.text{
    font-size: 10px;
    font-family: "Palatino", serif;
    fill: black;
}
.inside-circle{
    fill: #75cbec;
     /* #ad9f8b; */
    fill-opacity: 0;
    /* stroke: black;
    stroke-opacity: 0.6;
    stroke-dasharray: 0; */
}
.footer-text{
    text-align: left;
    font-size: 16px;
    font-family: "Palatino", serif;
    color: grey;
    word-wrap: normal;
    padding: 2px 10% 2px 10%;
    margin: 0px;
}
input[type=submit] {
    width: 150px; 
    height: 20px;
    font-size: 16px;
}