.big-header{
    text-align: center;
    font-size: 32px;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0 20% 0 20%;
    margin: 25px 0 0 0;
}
.small-header{
    text-align: justify;
    font-size: 18px;
    font-family: "Palatino", serif;
    padding: 0 15% 0 15%;
}
.italic-note{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    font-family: "Palatino", serif;
}
.legend{
    display: flex;
    width: 70%;
    margin: auto;
}
.waffle {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1318px;
  }
.rect-empty,
.rect-clicked {
    width: 32px;
    height: 32px;
    margin: 0;
    border: 2px solid white;
    background-color: #a5a5a5;
  }

.rect-clicked{
    word-wrap: break-word;
    text-align: center;
    /* pointer-events: none; */
  }
.tooltip{
    position: absolute;
    visibility: hidden;
    background-color: white;
    max-width: 320px;
    pointer-events: none;
    box-shadow: 1px 1px 3px 2px #787878ee;
}
.tooltip-text{
    text-align: left;
    font-size: 14px;
    font-family: "Palatino", serif;
    padding: 0 5% 0 5%;
    word-wrap: normal;
    font-style: italic;
}
.tooltip-title{
    text-align: justify;
    font-size: 14px;
    font-family: "Palatino", serif;
    padding: 0 5% 0 5%;
    word-wrap: normal;
    font-style: normal;
}
.text{
    font-size: 10px;
    font-family: "Palatino", serif;
    fill: black;
}
.inside-circle{
    fill: #75cbec;
     /* #ad9f8b; */
    fill-opacity: 0;
    /* stroke: black;
    stroke-opacity: 0.6;
    stroke-dasharray: 0; */
}